/* Variables globales */

@font-face {
    font-family: 'Retro-Gaming';
    src: url(../res/font/Retro-Gaming.ttf);
}

* {
    font-family: 'Retro-Gaming';
}

body {
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto 0 auto;
    background: url(../res/img/back.png);
}

input[type='checkbox'] {
    margin-left: 0;
}

/* Variables para index.html */

.content-box, .button-group button, .main-button {
    border: 2px solid black;
    border-radius: 4px;
}

.content-box {
    font-size: small;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 5% 0 5%;
}

.main-title {
    color: white;
    font-size: x-large;
    margin: 5% auto 5% auto;
}

.save-entry {
    background-color: white;
    display: block;
    border: solid black 1px;
    border-radius: 3px;
    margin: 0 5% 2.5% 5%;
}

.save-entry:hover {
    background-color: thistle;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-group button {
    margin: 5% 5% 0 5%;
    width: 35%;
    height: 5vh;
}

.main-button {
    display: block;
    width: 70%;
    margin: 8vh 15% 8vh 15%;
    height: 8vh;
}

.main-button:hover, .back:hover, #new-file:hover, #load-file:hover, #save-profile:hover {
    background-color: lightslategray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.delete-entry {
    background-color: white;
    color: red;
    border: none;
}

.menu-screen {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.player-box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.checked-parameter, #default-parameters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 2% 2% 2%;
}

.parameter-value {
    text-align: center;
}

.divisory-line {
    border: 0.5px solid black;
    margin: 3% 0 3% 0;
}

#game-logo {
    width: 80%;
    height: 20%;
    margin: 5vh 10% 0 10%;
}

#default-parameters {
    justify-content: center;
    margin-bottom: 4%;
}

#custom-parameters {
    display: grid;
    grid-template-columns: 8% 37% 35% 20%;
    row-gap: 3px;
    align-items: center;
    padding: 2% 2% 0 2%;
}

#extra-parameters, #game-players {
    border: 1px solid black;
    border-radius: 4px;
    margin: 4%;
}

#extra-parameters, #default-parameters {
    margin-top: 0;
}

/* Variables para game.html */

.switch {
    font-size: 1em;
    padding: 1.5%;
    width: 50%;
    background-color: white;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.status-box {
    font-size: 0.8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
}

.status-box div p {
    margin: 0;
}

.board-tile {
    background-image: url('../res/img/grass.png');
    background-size: cover;
    margin: 0;
}

.board-image{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.insight-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.insight-icon {
    width: 15%;
    height: 90%;
}

.insight-box p {
    margin: 0;
    font-size: 0.9em;
}

.action-button {
    width: 100%;
    height: 50%;
    background-color: thistle;
}

.summary-icon {
    width: 30%;
    height: 65%;
}

.swal2-confirm.swal2-styled, .swal2-deny.swal2-styled, .swal2-cancel.swal2-styled {
    width: 100%;
}

.swal2-input {
    text-align: center;
    margin-bottom: 0;
}

#menu {
    background-color: thistle;
}

#screen-switch, #events-bar, #status-bar, #insight, #game-buttons, #insight-2, #game-buttons-2, #crafting-info {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: solid black 1px;
    border-radius: 4px;
}

/* #upper-bar {
    position: fixed;
    top: 0;
    width: 100%;
} */

#status-mana {
    border-left: 2px black solid;
    border-right: 2px black solid;
}

#events-bar {
    min-height: 50px;
}

#events-list {
    width: 66.15%;
    border-right: 2px black solid;
    padding-left: 2px;
    resize: vertical;
    min-height: 51px;
    max-height: 170px;
}

#end-turn {
    width: 33.3%;
    height: 100%;
    min-height: 57px;
}

#board-screen {
    padding-top: 5%;
    background-image: url('../res/img/background-game.png');
    background-size: cover;
}

#board {
    display: grid;
    width: 90%;
    max-width: 500px;
    margin: 0 auto 5% auto;
    grid-template-columns: 1fr 1fr 1fr;
}

#lower-bar, #lowest-bar, #crafting-cost {
    display: flex;
    justify-content: center;
}

/* #lowest-bar, #lower-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
} */

#insight, #insight-2 {
    background-size: cover;
    flex-direction: column;
    width: 65%;
}

#title-box, #crafting-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin: 2%;
    width: 100%;
}

#stamina-score {
    font-size: 0.9em;
    margin: 0;
    margin-right: 2%;
}

#powerups-list {
    margin: 2% 2%;
    width: 60%;
}

#powerups-cast {
    height: 70%;
    width: 25%;
    background-color: thistle;
}

#game-buttons, #game-buttons-2 {
    display: inline;
    width: 35%;
}

#reinforcements-list {
    width: 70%;
}

#upgrade-screen {
    display: none;
}

#crafting-list {
    -webkit-appearance: menulist-textfield;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.05em;
    width: 100%;
    padding: 1.5%;
}

#crafting-description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#crafting-description-p {
    margin: 5%;
    font-size: 0.8em;
    height: 75%;
}

#crafting-summary-unit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    border-top: 1px solid black;
    box-sizing: border-box;
}

#crafting-summary-unit p {
    font-size: 0.9em;
    margin: 0;
}

#crafting-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-left: 1px solid black;
}

#crafting-data button {
    width: 90%;
    height: 20%;
    margin-bottom: 5%;
}

#crafting-portrait {
    width: 80%;
    height: 55%;
    margin-top: 5%;
}

#crafting-cost {
    font-size: 0.9em;
    justify-content: center;
    height: 25%;
}

#crafting-cost img {
    width: 20%;
    height: 60%;
}

/* @media screen and (max-width: 480px) {
    #crafting-list {

    }
} */